
/* site43_head_col0_BDSPhuCuong */ 
@keyframes showAnimation {
  0% {
    opacity: 0;
    transform: scaleY(0.1);
  }
  40% {
    transform: scaleY(1.04);
  }
  60% {
    transform: scaleY(0.98);
  }
  80% {
    transform: scaleY(1.04);
  }
  100% {
    transform: scaleY(0.98);
  }
  80% {
    transform: scaleY(1.02);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
.site43_head_col0_BDSPhuCuong {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 5;
  background: linear-gradient(rgba(0, 0, 0, 0.747), rgba(255, 255, 255, 0));
}
.site43_head_col0_BDSPhuCuong img {
  max-width: 100%;
}
.site43_head_col0_BDSPhuCuong .menu-c2 {
  position: absolute;
  top: 66px;
  left: 0px;
  width: 345px;
  background: #fff;
  border-radius: 30px;
  padding: 20px;
  box-shadow: 3px 10px 22px #00000052;
}
.site43_head_col0_BDSPhuCuong .menu-c2::before {
  content: "";
  width: 100%;
  height: 46px;
  background: transparent;
  position: absolute;
  top: -24px;
  left: 0px;
}
.site43_head_col0_BDSPhuCuong .menu-c2 a {
  color: #454545;
}
.site43_head_col0_BDSPhuCuong.scroll {
  position: sticky;
  background: #fff;
  box-shadow: 0px 3px 20px #00000029;
}
.site43_head_col0_BDSPhuCuong.scroll .row-main {
  padding: 5px;
}
.site43_head_col0_BDSPhuCuong.scroll a {
  color: #454545;
}
.site43_head_col0_BDSPhuCuong.scroll .logo_header .logo_load {
  display: none;
}
.site43_head_col0_BDSPhuCuong.scroll .logo_header .logo_scroll {
  display: block;
}
.site43_head_col0_BDSPhuCuong.scroll .menu-c2 {
  background: #ffffff;
}
.site43_head_col0_BDSPhuCuong.scroll .menu-wrapper .hamburger span {
  color: #454545;
  background-color: #454545;
}
.site43_head_col0_BDSPhuCuong .row-main {
  padding-top: 35px;
  padding-bottom: 100px;
}
.site43_head_col0_BDSPhuCuong .content3_0 {
  font-weight: bold;
  color: #fff;
}
.site43_head_col0_BDSPhuCuong .content3_0:hover {
  text-decoration: none;
  color: #009865;
}
.site43_head_col0_BDSPhuCuong .logo_header {
  max-width: 134px;
  width: 10%;
  padding: 6px;
}
.site43_head_col0_BDSPhuCuong .logo_header .logo_scroll {
  display: none;
}
.site43_head_col0_BDSPhuCuong .menu_header {
  width: 76%;
}
.site43_head_col0_BDSPhuCuong .menu-wrapper {
  display: none;
  overflow: hidden;
  max-width: 100%;
  cursor: pointer;
}
.site43_head_col0_BDSPhuCuong .menu-wrapper .hamburger {
  z-index: 3;
  position: relative;
  width: 25px;
  height: 30px;
  margin: 15px;
  margin: 7px 0 5px 0;
}
.site43_head_col0_BDSPhuCuong .menu-wrapper .hamburger span {
  opacity: 1;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 15px;
  color: #ffffff;
  background-color: #ffffff;
  position: absolute;
  transform: rotate(0deg);
  transition: 0.4s ease-in-out;
}
.site43_head_col0_BDSPhuCuong .menu-list {
  max-width: 1160px;
}
.site43_head_col0_BDSPhuCuong .menu-list .logo-mobile {
  display: none;
}
.site43_head_col0_BDSPhuCuong .menu-list .menu-c2 {
  display: none;
}
.site43_head_col0_BDSPhuCuong .menu-list > li {
  position: relative;
}
.site43_head_col0_BDSPhuCuong .menu-list > li:hover .menu-c2 {
  display: block;
  animation: showAnimation 0.4s ease-in-out;
}
.site43_head_col0_BDSPhuCuong .menu-list > li.active-color a {
  color: #009865;
}

@media (max-width: 1000px) {
  .site43_head_col0_BDSPhuCuong .container {
    position: relative;
  }
  .site43_head_col0_BDSPhuCuong .row-main {
    padding-top: 7px;
    padding-bottom: 30px;
  }
  .site43_head_col0_BDSPhuCuong .logo_header {
    padding: 0;
    width: 15%;
  }
  .site43_head_col0_BDSPhuCuong .menu-c2 {
    position: unset;
    width: 100%;
    padding: 0;
    border-radius: 0;
    box-shadow: unset;
  }
  .site43_head_col0_BDSPhuCuong .menu_header {
    padding-left: 0;
    top: 0;
    display: block;
    position: fixed;
    background: #FFFFFF;
    box-shadow: rgba(100, 100, 100, 0.2) 6px 2px 10px;
    z-index: 999;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0 0 0 0;
    height: 100%;
    width: 35%;
    right: 105%;
  }
  .site43_head_col0_BDSPhuCuong .menu_header .menu-list {
    flex-direction: column;
    padding: 20px;
  }
  .site43_head_col0_BDSPhuCuong .menu_header .menu-list .logo-mobile {
    display: block;
    padding: 35px 0;
    text-align: center;
  }
  .site43_head_col0_BDSPhuCuong .menu_header .menu-list a {
    color: #454545;
  }
  .site43_head_col0_BDSPhuCuong .menu_header .menu-list li {
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid #ebebeb;
    position: relative;
  }
  .site43_head_col0_BDSPhuCuong .menu_header .menu-list li:first-child {
    border-bottom: 0;
  }
  .site43_head_col0_BDSPhuCuong .menu_header .menu-list li:last-child {
    border: 0;
  }
  .site43_head_col0_BDSPhuCuong .menu-wrapper {
    display: block;
  }
  .site43_head_col0_BDSPhuCuong .menu-wrapper .hamburger span:nth-child(1) {
    top: 0;
  }
  .site43_head_col0_BDSPhuCuong .menu-wrapper .hamburger span:nth-child(2) {
    top: 9px;
  }
  .site43_head_col0_BDSPhuCuong .menu-wrapper .hamburger span:nth-child(3) {
    top: 18px;
  }
  .site43_head_col0_BDSPhuCuong .menu-wrapper .open span:nth-child(1) {
    transform: translateY(9px) rotate(135deg);
  }
  .site43_head_col0_BDSPhuCuong .menu-wrapper .open span:nth-child(2) {
    opacity: 0;
    transform: translateX(-60px);
  }
  .site43_head_col0_BDSPhuCuong .menu-wrapper .open span:nth-child(3) {
    transform: translateY(-9px) rotate(-135deg);
  }
}
@media (max-width: 540px) {
  .site43_head_col0_BDSPhuCuong .menu_header {
    width: 80%;
  }
}

/*# sourceMappingURL=view.css.map */

/* site43_head_col0_BDSPhuCuong */ 

/* site43_bann_col0_slidein2 */ 
.site43_bann_col0_slidein2 {
  position: relative;
}
.site43_bann_col0_slidein2 .seacrh_form {
  position: absolute;
  top: calc(100%/2 );
  left: calc(100%/2 - 66%/2);
  z-index: 1;
  max-width: 1276px;
  width: 66%;
}
.site43_bann_col0_slidein2 .seacrh_form form {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 25px;
  overflow: hidden;
  height: 138px;
  padding: 20px 30px;
}
.site43_bann_col0_slidein2 .seacrh_form input {
  width: 90%;
  height: 100%;
  padding-left: 70px;
}
.site43_bann_col0_slidein2 .seacrh_form input::placeholder {
  color: #707070;
  opacity: 0.4;
}
.site43_bann_col0_slidein2 .seacrh_form input:focus-visible {
  outline: none;
}
.site43_bann_col0_slidein2 .seacrh_form button {
  width: 10%;
  background: #FFF;
}
.site43_bann_col0_slidein2 .seacrh_form button:hover .far {
  color: #496b33;
  opacity: 1;
}
.site43_bann_col0_slidein2 .seacrh_form button .far {
  font-size: 80px;
  color: #707070;
  opacity: 0.4;
}

@media (max-width: 1400px) {
  .site43_bann_col0_slidein2 .seacrh_form form {
    height: 96px;
    padding: 20px 30px;
  }
  .site43_bann_col0_slidein2 .seacrh_form input {
    padding-left: 30px;
  }
  .site43_bann_col0_slidein2 .seacrh_form button .far {
    font-size: 50px;
  }
}
@media (max-width: 1200px) {
  .site43_bann_col0_slidein2 .seacrh_form form {
    border-radius: 22px;
    height: 75px;
  }
  .site43_bann_col0_slidein2 .seacrh_form input {
    padding-left: 20px;
  }
  .site43_bann_col0_slidein2 .seacrh_form button .far {
    font-size: 38px;
  }
}
@media (max-width: 1000px) {
  .site43_bann_col0_slidein2 #slidein2 .item {
    height: 350px;
  }
  .site43_bann_col0_slidein2 #slidein2 .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media (max-width: 540px) {
  .site43_bann_col0_slidein2 .seacrh_form form {
    border-radius: 14px;
    height: 57px;
    padding: 10px 18px;
  }
  .site43_bann_col0_slidein2 .seacrh_form .content4_0 {
    font-size: 17px;
  }
  .site43_bann_col0_slidein2 .seacrh_form input {
    padding-left: 10px;
  }
  .site43_bann_col0_slidein2 .seacrh_form button .far {
    font-size: 26px;
  }
}
@media (max-width: 375px) {
  .site43_bann_col0_slidein2 .seacrh_form form {
    border-radius: 12px;
    height: 47px;
    padding: 7px 18px;
  }
  .site43_bann_col0_slidein2 .seacrh_form .content4_0 {
    font-size: 15px;
  }
  .site43_bann_col0_slidein2 .seacrh_form input {
    padding-left: 0px;
  }
  .site43_bann_col0_slidein2 .seacrh_form button .far {
    font-size: 20px;
  }
}

/*# sourceMappingURL=view.css.map */

/* site43_bann_col0_slidein2 */ 

/* site43_html_col0_tuyendung */ 
.site43_html_col0_tuyendung .tuyendungmoinhat h3 {
  margin-top: 84px;
  margin-bottom: 67px;
}
.site43_html_col0_tuyendung .tuyendungmoinhat #slide_tuyendung .owl-stage-outer {
  padding: 20px 30px;
  margin: 0 -30px;
}
.site43_html_col0_tuyendung .tuyendungmoinhat #slide_tuyendung .owl-item {
  transition: all 0.4s ease;
  border-radius: 25px;
}
.site43_html_col0_tuyendung .tuyendungmoinhat #slide_tuyendung .owl-next,
.site43_html_col0_tuyendung .tuyendungmoinhat #slide_tuyendung .owl-prev {
  position: absolute;
  top: calc(53% / 2 - 151px / 2);
  width: 151px;
  height: 151px;
  background: rgba(255, 255, 255, 0.4) 0% 0% no-repeat padding-box;
  border-radius: 8px;
}
.site43_html_col0_tuyendung .tuyendungmoinhat #slide_tuyendung .owl-next:hover,
.site43_html_col0_tuyendung .tuyendungmoinhat #slide_tuyendung .owl-prev:hover {
  background: rgba(255, 255, 255, 0.9) 0% 0% no-repeat padding-box;
}
.site43_html_col0_tuyendung .tuyendungmoinhat #slide_tuyendung .owl-next {
  right: -5.5px;
}
.site43_html_col0_tuyendung .tuyendungmoinhat #slide_tuyendung .owl-prev {
  left: -5.5px;
}
.site43_html_col0_tuyendung .tuyendungmoinhat #slide_tuyendung .card_item {
  overflow: hidden;
  border-radius: 25px;
  box-shadow: 10px 10px 20px #00000029;
}
.site43_html_col0_tuyendung .tuyendungmoinhat #slide_tuyendung .img_item {
  max-height: 718px;
  overflow: hidden;
  position: relative;
  transition: all 0.4s ease;
}
.site43_html_col0_tuyendung .tuyendungmoinhat #slide_tuyendung .img_item img {
  height: 100%;
  object-fit: cover;
  transition: all 0.4s ease;
}
.site43_html_col0_tuyendung .tuyendungmoinhat #slide_tuyendung .img_item::before {
  position: absolute;
  top: 0px;
  left: -77%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
  -webkit-animation: infinite shine 5s;
  animation: infinite shine 5s;
}
.site43_html_col0_tuyendung .tuyendungmoinhat #slide_tuyendung .img_item:hover {
  box-shadow: 10px 10px 20px #00000029;
  transform: translateY(-5px);
  transition: all 0.4s ease;
}
.site43_html_col0_tuyendung .tuyendungmoinhat #slide_tuyendung .img_item:hover img {
  transform: scale(1.08) rotate(2deg);
  transition: all 0.4s ease;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.site43_html_col0_tuyendung .tuyendungmoinhat #slide_tuyendung .content_item {
  padding: 58px 87px 56px 87px;
}
.site43_html_col0_tuyendung .tuyendungmoinhat #slide_tuyendung .content_item h4 {
  margin-bottom: 20px;
}
.site43_html_col0_tuyendung .tuyendungmoinhat #slide_tuyendung .content_item ul {
  margin-top: 30px;
}
.site43_html_col0_tuyendung .tuyendungmoinhat #slide_tuyendung .content_item ul li {
  margin-bottom: 20px;
}
.site43_html_col0_tuyendung .tuyendungmoinhat #slide_tuyendung .content_item ul li span {
  color: #019965;
  font-weight: bold;
}
.site43_html_col0_tuyendung .tuyendungmoinhat #slide_tuyendung .content_item .btn-xemthem span {
  padding-left: 15px;
  font-family: cursive;
  color: #FFF;
}
.site43_html_col0_tuyendung .tintuyendung {
  margin-top: 69px;
}
.site43_html_col0_tuyendung .tintuyendung h4 {
  color: #707070;
}
.site43_html_col0_tuyendung .tintuyendung .row-main {
  margin-top: 40px;
  flex-wrap: wrap;
}
.site43_html_col0_tuyendung .tintuyendung .card_item {
  max-width: 479px;
  width: 100%;
  margin-top: 52px;
  overflow: hidden;
  border-radius: 25px;
  box-shadow: 10px 10px 20px #00000029;
  transition: all 0.4s ease;
}
.site43_html_col0_tuyendung .tintuyendung .card_item:hover {
  transform: translateY(-5px);
  transition: all 0.4s ease;
}
.site43_html_col0_tuyendung .tintuyendung .card_item:hover .img_item::before {
  -webkit-animation: infinite shine 1s;
  animation: infinite shine 1s;
}
.site43_html_col0_tuyendung .tintuyendung .img_item {
  max-height: 304px;
  overflow: hidden;
  position: relative;
  transition: all 0.4s ease;
}
.site43_html_col0_tuyendung .tintuyendung .img_item::before {
  position: absolute;
  top: 0px;
  left: -77%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
.site43_html_col0_tuyendung .tintuyendung .img_item img {
  height: 100%;
  object-fit: cover;
  transition: all 0.4s ease;
}
.site43_html_col0_tuyendung .tintuyendung .img_item:hover img {
  transform: scale(1.08) rotate(2deg);
  transition: all 0.4s ease;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.site43_html_col0_tuyendung .tintuyendung .content_item {
  padding: 31px 40px;
}
.site43_html_col0_tuyendung .tintuyendung .content_item h4 {
  margin-bottom: 20px;
}
.site43_html_col0_tuyendung .tintuyendung .content_item p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 30px;
}
.site43_html_col0_tuyendung .tintuyendung .content_item .btn-xemthem {
  margin: auto;
}
.site43_html_col0_tuyendung .tintuyendung .content_item .btn-xemthem span {
  padding-left: 15px;
  font-family: cursive;
  color: #FFF;
}

@media (max-width: 1400px) {
  .site43_html_col0_tuyendung .tuyendungmoinhat #slide_tuyendung .owl-next,
.site43_html_col0_tuyendung .tuyendungmoinhat #slide_tuyendung .owl-prev {
    top: calc(50% / 2 - 120px / 2);
    width: 120px;
    height: 120px;
  }
  .site43_html_col0_tuyendung .tintuyendung .card_item {
    width: 32%;
  }
  .site43_html_col0_tuyendung .tintuyendung .img_item {
    height: 233px;
  }
  .site43_html_col0_tuyendung .tintuyendung .content_item {
    padding: 20px 25px;
  }
  .site43_html_col0_tuyendung .tintuyendung .content_item p {
    margin-bottom: 15px;
  }
}
@media (max-width: 1000px) {
  .site43_html_col0_tuyendung .tuyendungmoinhat #slide_tuyendung .owl-next,
.site43_html_col0_tuyendung .tuyendungmoinhat #slide_tuyendung .owl-prev {
    top: calc(50% / 2 - 85px / 2);
    width: 85px;
    height: 85px;
  }
  .site43_html_col0_tuyendung .tuyendungmoinhat #slide_tuyendung .owl-next img,
.site43_html_col0_tuyendung .tuyendungmoinhat #slide_tuyendung .owl-prev img {
    width: 20%;
  }
  .site43_html_col0_tuyendung .tuyendungmoinhat #slide_tuyendung .content_item {
    padding: 30px 20px;
  }
  .site43_html_col0_tuyendung .tuyendungmoinhat #slide_tuyendung .content_item p {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .site43_html_col0_tuyendung .tintuyendung .card_item {
    width: 48%;
  }
  .site43_html_col0_tuyendung .tintuyendung .content_item {
    padding: 22px 20px;
  }
  .site43_html_col0_tuyendung .tintuyendung .content_item p {
    margin-bottom: 17px;
  }
}
@media (max-width: 540px) {
  .site43_html_col0_tuyendung .tuyendungmoinhat #slide_tuyendung .owl-stage-outer {
    padding: 20px 15px;
    margin: 0 -15px;
  }
  .site43_html_col0_tuyendung .tuyendungmoinhat #slide_tuyendung .owl-next,
.site43_html_col0_tuyendung .tuyendungmoinhat #slide_tuyendung .owl-prev {
    top: calc(50% / 2 - 150px / 2);
    width: 65px;
    height: 65px;
  }
  .site43_html_col0_tuyendung .tuyendungmoinhat #slide_tuyendung .owl-next img,
.site43_html_col0_tuyendung .tuyendungmoinhat #slide_tuyendung .owl-prev img {
    max-width: 100%;
    width: 23%;
  }
  .site43_html_col0_tuyendung .tuyendungmoinhat #slide_tuyendung .card_item {
    border-radius: 15px;
  }
  .site43_html_col0_tuyendung .tuyendungmoinhat #slide_tuyendung .content_item {
    padding: 30px 20px;
  }
  .site43_html_col0_tuyendung .tuyendungmoinhat #slide_tuyendung .content_item p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .site43_html_col0_tuyendung .tuyendungmoinhat #slide_tuyendung .content_item .btn-xemthem {
    margin: auto;
  }
  .site43_html_col0_tuyendung .tintuyendung .content_item {
    padding: 22px 15px;
  }
  .site43_html_col0_tuyendung .tintuyendung .card_item {
    width: 100%;
    border-radius: 15px;
  }
}
@media (max-width: 540px) {
  .site43_html_col0_tuyendung .tuyendungmoinhat #slide_tuyendung .owl-next,
.site43_html_col0_tuyendung .tuyendungmoinhat #slide_tuyendung .owl-prev {
    top: calc(50% / 2 - 150px / 2);
    width: 55px;
    height: 55px;
  }
  .site43_html_col0_tuyendung .tuyendungmoinhat #slide_tuyendung .owl-next img,
.site43_html_col0_tuyendung .tuyendungmoinhat #slide_tuyendung .owl-prev img {
    width: 21%;
  }
  .site43_html_col0_tuyendung .tuyendungmoinhat #slide_tuyendung .content_item {
    padding: 30px 15px;
  }
  .site43_html_col0_tuyendung .tuyendungmoinhat #slide_tuyendung .content_item ul {
    margin-top: 18px;
  }
  .site43_html_col0_tuyendung .tuyendungmoinhat #slide_tuyendung .content_item ul li {
    margin-bottom: 8px;
  }
}

/*# sourceMappingURL=view.css.map */

/* site43_html_col0_tuyendung */ 

/* site43_foot_col0_BDSPhuCuong */ 
.site43_foot_col0_BDSPhuCuong {
  margin-top: 150px;
  background-color: #fafafa;
  padding: 54px 0px;
}
.site43_foot_col0_BDSPhuCuong .row-main {
  width: 100%;
}
.site43_foot_col0_BDSPhuCuong .title2_5 {
  font-weight: bold;
  color: #565656;
}
.site43_foot_col0_BDSPhuCuong .content2_0 {
  color: #171717;
  font-weight: normal;
}
.site43_foot_col0_BDSPhuCuong .left_footer {
  max-width: 436px;
  width: 100%;
}
.site43_foot_col0_BDSPhuCuong .left_footer .logo_footer {
  width: 161px;
  height: 144px;
}
.site43_foot_col0_BDSPhuCuong .left_footer .logo_footer img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.site43_foot_col0_BDSPhuCuong .left_footer h5 {
  margin-top: 46px;
  margin-bottom: 22px;
}
.site43_foot_col0_BDSPhuCuong .left_footer .form_lienhe {
  max-width: 436px;
  width: 100%;
  height: 78px;
  background: #ffffff;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 12px;
}
.site43_foot_col0_BDSPhuCuong .left_footer .form_lienhe input {
  width: 100%;
  font-size: 24px;
  color: #171717;
  padding-left: 20px;
}
.site43_foot_col0_BDSPhuCuong .left_footer .form_lienhe input::placeholder {
  color: #565656;
}
.site43_foot_col0_BDSPhuCuong .left_footer .form_lienhe input:focus-visible {
  outline: none;
}
.site43_foot_col0_BDSPhuCuong .left_footer .form_lienhe button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #496b33 0% 0% no-repeat padding-box;
}
.site43_foot_col0_BDSPhuCuong .left_footer .form_lienhe button .far {
  color: #fff;
}
.site43_foot_col0_BDSPhuCuong .center_footer {
  max-width: 433px;
  width: 100%;
}
.site43_foot_col0_BDSPhuCuong .center_footer ul {
  height: 291px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.site43_foot_col0_BDSPhuCuong .center_footer ul li:last-child {
  margin-bottom: 0px;
}
.site43_foot_col0_BDSPhuCuong .center_footer ul li h5 {
  margin-bottom: 18px;
}
.site43_foot_col0_BDSPhuCuong .right_footer {
  max-width: 310px;
  width: 100%;
}
.site43_foot_col0_BDSPhuCuong .right_footer ul {
  height: 291px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.site43_foot_col0_BDSPhuCuong .right_footer ul li:last-child {
  margin-bottom: 31px;
}
.site43_foot_col0_BDSPhuCuong .right_footer ul li h5 {
  margin-bottom: 18px;
}
.site43_foot_col0_BDSPhuCuong .footer__icon {
  margin-top: 79px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site43_foot_col0_BDSPhuCuong .footer__icon-mangxahoi {
  display: flex;
  align-items: center;
}
.site43_foot_col0_BDSPhuCuong .footer__icon--btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 1px solid #4e525b;
  margin-right: 10px;
  transition: all 0.4s ease;
  overflow: hidden;
}
.site43_foot_col0_BDSPhuCuong .footer__icon--btn .fab {
  color: #4e525b;
  font-size: 25px;
}
.site43_foot_col0_BDSPhuCuong .footer__icon--btn svg path {
  fill: #4e525b;
}
.site43_foot_col0_BDSPhuCuong .footer__icon--btn:first-child {
  padding-top: 16px;
}
.site43_foot_col0_BDSPhuCuong .footer__icon--btn:nth-child(3) {
  padding-top: 4px;
}
.site43_foot_col0_BDSPhuCuong .footer__icon--btn:hover {
  text-decoration: none;
  transform: translateY(-3px);
  transition: all 0.4s ease;
}
.site43_foot_col0_BDSPhuCuong .footer__icon--btn:hover:first-child {
  border: 1px solid #1887ed;
}
.site43_foot_col0_BDSPhuCuong .footer__icon--btn:hover:first-child .fab {
  color: #1887ed;
}
.site43_foot_col0_BDSPhuCuong .footer__icon--btn:hover:nth-child(2) {
  border: 1px solid #34a853;
}
.site43_foot_col0_BDSPhuCuong .footer__icon--btn:hover:nth-child(2) svg {
  max-width: 100%;
}
.site43_foot_col0_BDSPhuCuong .footer__icon--btn:hover:nth-child(2) svg path {
  fill: #34a853;
}
.site43_foot_col0_BDSPhuCuong .footer__icon--btn:hover:nth-child(3) {
  border: 1px solid #1d9bf0;
}
.site43_foot_col0_BDSPhuCuong .footer__icon--btn:hover:nth-child(3) .fab {
  color: #1d9bf0;
}
.site43_foot_col0_BDSPhuCuong .footer__icon--btn:hover:last-child {
  border: 1px solid #f5a732;
}
.site43_foot_col0_BDSPhuCuong .footer__icon--btn:hover:last-child svg {
  max-width: 100%;
}
.site43_foot_col0_BDSPhuCuong .footer__icon--btn:hover:last-child svg path {
  fill: #f5a732;
}
.site43_foot_col0_BDSPhuCuong .footer__select-ngonngu {
  position: relative;
  display: flex;
  flex-direction: column;
}
.site43_foot_col0_BDSPhuCuong .footer__select-ngonngu > div {
  position: absolute;
  top: -21px;
  right: 0;
  width: 125px;
}
.site43_foot_col0_BDSPhuCuong .footer__select-ngonngu label {
  width: 125px;
  height: 39px;
  background: #FFF;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 42px;
  padding: 5px;
  display: none;
  position: relative;
  order: 2;
}
.site43_foot_col0_BDSPhuCuong .footer__select-ngonngu label span {
  margin-left: 10px;
}
.site43_foot_col0_BDSPhuCuong .footer__select-ngonngu label.active {
  order: 1;
  display: block;
}
.site43_foot_col0_BDSPhuCuong .footer__select-ngonngu label.active::after {
  content: "";
  position: absolute;
  top: 16px;
  right: 15px;
  border: 5px solid;
  border-color: #000 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}
.site43_foot_col0_BDSPhuCuong .footer__select-ngonngu:hover label {
  display: block;
}
.site43_foot_col0_BDSPhuCuong .footer__select-ngonngu:hover label.active {
  order: 1;
}
.site43_foot_col0_BDSPhuCuong .phattrien .content2_0 {
  color: #565656;
}

@media (max-width: 1400px) {
  .site43_foot_col0_BDSPhuCuong .left_footer {
    width: 33%;
  }
  .site43_foot_col0_BDSPhuCuong .center_footer {
    width: 33%;
  }
  .site43_foot_col0_BDSPhuCuong .right_footer {
    width: unset;
  }
}
@media (max-width: 1000px) {
  .site43_foot_col0_BDSPhuCuong .left_footer {
    max-width: 100%;
    width: 100%;
  }
  .site43_foot_col0_BDSPhuCuong .center_footer {
    margin-top: 28px;
    max-width: 100%;
    width: 100%;
  }
  .site43_foot_col0_BDSPhuCuong .center_footer ul {
    height: auto;
  }
  .site43_foot_col0_BDSPhuCuong .center_footer ul li {
    margin-bottom: 26px;
  }
  .site43_foot_col0_BDSPhuCuong .right_footer {
    margin-top: 28px;
    max-width: 100%;
    width: 100%;
  }
  .site43_foot_col0_BDSPhuCuong .right_footer ul {
    height: auto;
  }
  .site43_foot_col0_BDSPhuCuong .right_footer ul li {
    margin-bottom: 26px;
  }
  .site43_foot_col0_BDSPhuCuong .row-main {
    flex-direction: column;
  }
}
@media (max-width: 540px) {
  .site43_foot_col0_BDSPhuCuong .left_footer {
    text-align: center;
  }
  .site43_foot_col0_BDSPhuCuong .left_footer .logo_footer {
    margin: auto;
  }
  .site43_foot_col0_BDSPhuCuong .left_footer .form_lienhe {
    height: 59px;
    padding: 15px 12px;
  }
  .site43_foot_col0_BDSPhuCuong .left_footer .form_lienhe button {
    width: 53px;
    height: 45px;
  }
  .site43_foot_col0_BDSPhuCuong .center_footer {
    margin-top: 20px;
    max-width: 100%;
    width: 100%;
  }
  .site43_foot_col0_BDSPhuCuong .center_footer ul li {
    margin-bottom: 12px;
  }
  .site43_foot_col0_BDSPhuCuong .center_footer ul li h5 {
    margin-bottom: 5px;
  }
  .site43_foot_col0_BDSPhuCuong .right_footer {
    margin-top: 20px;
    max-width: 100%;
    width: 100%;
  }
  .site43_foot_col0_BDSPhuCuong .right_footer ul li {
    margin-bottom: 12px;
  }
  .site43_foot_col0_BDSPhuCuong .right_footer ul li h5 {
    margin-bottom: 5px;
  }
  .site43_foot_col0_BDSPhuCuong .phattrien {
    flex-wrap: wrap;
  }
}
@media (max-width: 320px) {
  .site43_foot_col0_BDSPhuCuong .footer__icon-mangxahoi .footer__icon--btn {
    width: 30px;
    height: 30px;
    padding: 6px;
  }
  .site43_foot_col0_BDSPhuCuong .footer__icon-mangxahoi .footer__icon--btn .fab {
    color: #4e525b;
    font-size: 19px;
  }
  .site43_foot_col0_BDSPhuCuong .footer__icon-mangxahoi .footer__icon--btn:nth-child(3) {
    padding-top: 8px;
  }
}

/*# sourceMappingURL=view.css.map */

/* site43_foot_col0_BDSPhuCuong */ 
