
/* site43_head_col0_BDSPhuCuong */ 
@keyframes showAnimation {
  0% {
    opacity: 0;
    transform: scaleY(0.1);
  }
  40% {
    transform: scaleY(1.04);
  }
  60% {
    transform: scaleY(0.98);
  }
  80% {
    transform: scaleY(1.04);
  }
  100% {
    transform: scaleY(0.98);
  }
  80% {
    transform: scaleY(1.02);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
.site43_head_col0_BDSPhuCuong {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 5;
  background: linear-gradient(rgba(0, 0, 0, 0.747), rgba(255, 255, 255, 0));
}
.site43_head_col0_BDSPhuCuong img {
  max-width: 100%;
}
.site43_head_col0_BDSPhuCuong .menu-c2 {
  position: absolute;
  top: 66px;
  left: 0px;
  width: 345px;
  background: #fff;
  border-radius: 30px;
  padding: 20px;
  box-shadow: 3px 10px 22px #00000052;
}
.site43_head_col0_BDSPhuCuong .menu-c2::before {
  content: "";
  width: 100%;
  height: 46px;
  background: transparent;
  position: absolute;
  top: -24px;
  left: 0px;
}
.site43_head_col0_BDSPhuCuong .menu-c2 a {
  color: #454545;
}
.site43_head_col0_BDSPhuCuong.scroll {
  position: sticky;
  background: #fff;
  box-shadow: 0px 3px 20px #00000029;
}
.site43_head_col0_BDSPhuCuong.scroll .row-main {
  padding: 5px;
}
.site43_head_col0_BDSPhuCuong.scroll a {
  color: #454545;
}
.site43_head_col0_BDSPhuCuong.scroll .logo_header .logo_load {
  display: none;
}
.site43_head_col0_BDSPhuCuong.scroll .logo_header .logo_scroll {
  display: block;
}
.site43_head_col0_BDSPhuCuong.scroll .menu-c2 {
  background: #ffffff;
}
.site43_head_col0_BDSPhuCuong.scroll .menu-wrapper .hamburger span {
  color: #454545;
  background-color: #454545;
}
.site43_head_col0_BDSPhuCuong .row-main {
  padding-top: 35px;
  padding-bottom: 100px;
}
.site43_head_col0_BDSPhuCuong .content3_0 {
  font-weight: bold;
  color: #fff;
}
.site43_head_col0_BDSPhuCuong .content3_0:hover {
  text-decoration: none;
  color: #009865;
}
.site43_head_col0_BDSPhuCuong .logo_header {
  max-width: 134px;
  width: 10%;
  padding: 6px;
}
.site43_head_col0_BDSPhuCuong .logo_header .logo_scroll {
  display: none;
}
.site43_head_col0_BDSPhuCuong .menu_header {
  width: 76%;
}
.site43_head_col0_BDSPhuCuong .menu-wrapper {
  display: none;
  overflow: hidden;
  max-width: 100%;
  cursor: pointer;
}
.site43_head_col0_BDSPhuCuong .menu-wrapper .hamburger {
  z-index: 3;
  position: relative;
  width: 25px;
  height: 30px;
  margin: 15px;
  margin: 7px 0 5px 0;
}
.site43_head_col0_BDSPhuCuong .menu-wrapper .hamburger span {
  opacity: 1;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 15px;
  color: #ffffff;
  background-color: #ffffff;
  position: absolute;
  transform: rotate(0deg);
  transition: 0.4s ease-in-out;
}
.site43_head_col0_BDSPhuCuong .menu-list {
  max-width: 1160px;
}
.site43_head_col0_BDSPhuCuong .menu-list .logo-mobile {
  display: none;
}
.site43_head_col0_BDSPhuCuong .menu-list .menu-c2 {
  display: none;
}
.site43_head_col0_BDSPhuCuong .menu-list > li {
  position: relative;
}
.site43_head_col0_BDSPhuCuong .menu-list > li:hover .menu-c2 {
  display: block;
  animation: showAnimation 0.4s ease-in-out;
}
.site43_head_col0_BDSPhuCuong .menu-list > li.active-color a {
  color: #009865;
}

@media (max-width: 1000px) {
  .site43_head_col0_BDSPhuCuong .container {
    position: relative;
  }
  .site43_head_col0_BDSPhuCuong .row-main {
    padding-top: 7px;
    padding-bottom: 30px;
  }
  .site43_head_col0_BDSPhuCuong .logo_header {
    padding: 0;
    width: 15%;
  }
  .site43_head_col0_BDSPhuCuong .menu-c2 {
    position: unset;
    width: 100%;
    padding: 0;
    border-radius: 0;
    box-shadow: unset;
  }
  .site43_head_col0_BDSPhuCuong .menu_header {
    padding-left: 0;
    top: 0;
    display: block;
    position: fixed;
    background: #FFFFFF;
    box-shadow: rgba(100, 100, 100, 0.2) 6px 2px 10px;
    z-index: 999;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0 0 0 0;
    height: 100%;
    width: 35%;
    right: 105%;
  }
  .site43_head_col0_BDSPhuCuong .menu_header .menu-list {
    flex-direction: column;
    padding: 20px;
  }
  .site43_head_col0_BDSPhuCuong .menu_header .menu-list .logo-mobile {
    display: block;
    padding: 35px 0;
    text-align: center;
  }
  .site43_head_col0_BDSPhuCuong .menu_header .menu-list a {
    color: #454545;
  }
  .site43_head_col0_BDSPhuCuong .menu_header .menu-list li {
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid #ebebeb;
    position: relative;
  }
  .site43_head_col0_BDSPhuCuong .menu_header .menu-list li:first-child {
    border-bottom: 0;
  }
  .site43_head_col0_BDSPhuCuong .menu_header .menu-list li:last-child {
    border: 0;
  }
  .site43_head_col0_BDSPhuCuong .menu-wrapper {
    display: block;
  }
  .site43_head_col0_BDSPhuCuong .menu-wrapper .hamburger span:nth-child(1) {
    top: 0;
  }
  .site43_head_col0_BDSPhuCuong .menu-wrapper .hamburger span:nth-child(2) {
    top: 9px;
  }
  .site43_head_col0_BDSPhuCuong .menu-wrapper .hamburger span:nth-child(3) {
    top: 18px;
  }
  .site43_head_col0_BDSPhuCuong .menu-wrapper .open span:nth-child(1) {
    transform: translateY(9px) rotate(135deg);
  }
  .site43_head_col0_BDSPhuCuong .menu-wrapper .open span:nth-child(2) {
    opacity: 0;
    transform: translateX(-60px);
  }
  .site43_head_col0_BDSPhuCuong .menu-wrapper .open span:nth-child(3) {
    transform: translateY(-9px) rotate(-135deg);
  }
}
@media (max-width: 540px) {
  .site43_head_col0_BDSPhuCuong .menu_header {
    width: 80%;
  }
}

/*# sourceMappingURL=view.css.map */

/* site43_head_col0_BDSPhuCuong */ 

/* site43_bann_col0_slidein2 */ 
.site43_bann_col0_slidein2 {
  position: relative;
}
.site43_bann_col0_slidein2 .seacrh_form {
  position: absolute;
  top: calc(100%/2 );
  left: calc(100%/2 - 66%/2);
  z-index: 1;
  max-width: 1276px;
  width: 66%;
}
.site43_bann_col0_slidein2 .seacrh_form form {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 25px;
  overflow: hidden;
  height: 138px;
  padding: 20px 30px;
}
.site43_bann_col0_slidein2 .seacrh_form input {
  width: 90%;
  height: 100%;
  padding-left: 70px;
}
.site43_bann_col0_slidein2 .seacrh_form input::placeholder {
  color: #707070;
  opacity: 0.4;
}
.site43_bann_col0_slidein2 .seacrh_form input:focus-visible {
  outline: none;
}
.site43_bann_col0_slidein2 .seacrh_form button {
  width: 10%;
  background: #FFF;
}
.site43_bann_col0_slidein2 .seacrh_form button:hover .far {
  color: #496b33;
  opacity: 1;
}
.site43_bann_col0_slidein2 .seacrh_form button .far {
  font-size: 80px;
  color: #707070;
  opacity: 0.4;
}

@media (max-width: 1400px) {
  .site43_bann_col0_slidein2 .seacrh_form form {
    height: 96px;
    padding: 20px 30px;
  }
  .site43_bann_col0_slidein2 .seacrh_form input {
    padding-left: 30px;
  }
  .site43_bann_col0_slidein2 .seacrh_form button .far {
    font-size: 50px;
  }
}
@media (max-width: 1200px) {
  .site43_bann_col0_slidein2 .seacrh_form form {
    border-radius: 22px;
    height: 75px;
  }
  .site43_bann_col0_slidein2 .seacrh_form input {
    padding-left: 20px;
  }
  .site43_bann_col0_slidein2 .seacrh_form button .far {
    font-size: 38px;
  }
}
@media (max-width: 1000px) {
  .site43_bann_col0_slidein2 #slidein2 .item {
    height: 350px;
  }
  .site43_bann_col0_slidein2 #slidein2 .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media (max-width: 540px) {
  .site43_bann_col0_slidein2 .seacrh_form form {
    border-radius: 14px;
    height: 57px;
    padding: 10px 18px;
  }
  .site43_bann_col0_slidein2 .seacrh_form .content4_0 {
    font-size: 17px;
  }
  .site43_bann_col0_slidein2 .seacrh_form input {
    padding-left: 10px;
  }
  .site43_bann_col0_slidein2 .seacrh_form button .far {
    font-size: 26px;
  }
}
@media (max-width: 375px) {
  .site43_bann_col0_slidein2 .seacrh_form form {
    border-radius: 12px;
    height: 47px;
    padding: 7px 18px;
  }
  .site43_bann_col0_slidein2 .seacrh_form .content4_0 {
    font-size: 15px;
  }
  .site43_bann_col0_slidein2 .seacrh_form input {
    padding-left: 0px;
  }
  .site43_bann_col0_slidein2 .seacrh_form button .far {
    font-size: 20px;
  }
}

/*# sourceMappingURL=view.css.map */

/* site43_bann_col0_slidein2 */ 

/* site43_html_col0_batdongsan */ 
.site43_html_col0_batdongsan .sile-content_top {
  margin-top: 70px;
}
.site43_html_col0_batdongsan .sile-content_top .left_sile-content {
  max-width: 714px;
  width: 47%;
}
.site43_html_col0_batdongsan .sile-content_top .left_sile-content .item_slide {
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}
.site43_html_col0_batdongsan .sile-content_top .left_sile-content .item_slide img {
  max-width: 100%;
  transition: all 0.4s ease;
}
.site43_html_col0_batdongsan .sile-content_top .left_sile-content .item_slide:hover img {
  transform: scale(1.08) rotate(2deg);
  transition: all 0.4s ease;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.site43_html_col0_batdongsan .sile-content_top .left_sile-content .text_slide {
  position: absolute;
  bottom: 10px;
  left: calc(100% / 2 - 83% / 2);
  max-width: 591px;
  width: 83%;
  height: 118px;
  background: #fff;
  border-radius: 25px;
  padding: 10px 30px;
}
.site43_html_col0_batdongsan .sile-content_top .left_sile-content .title-item {
  width: 48%;
}
.site43_html_col0_batdongsan .sile-content_top .left_sile-content .btn-gia:hover {
  transition: all 0.4s ease;
}
.site43_html_col0_batdongsan .sile-content_top .right_sile-content {
  width: 48%;
}
.site43_html_col0_batdongsan .sile-content_top .right_sile-content h3 {
  margin-bottom: 40px;
}
.site43_html_col0_batdongsan .sile-content_top .right_sile-content ul li {
  margin-bottom: 30px;
}
.site43_html_col0_batdongsan .sile-content_top .right_sile-content ul li:last-child {
  margin-bottom: 0;
}
.site43_html_col0_batdongsan .sile-content_top .right_sile-content ul li span {
  font-weight: bold;
  color: #171717b4;
}
.site43_html_col0_batdongsan .sile-content_top .right_sile-content .slick-prev,
.site43_html_col0_batdongsan .sile-content_top .right_sile-content .slick-next {
  width: auto;
  height: auto;
  top: 33px;
  z-index: 1;
}
.site43_html_col0_batdongsan .sile-content_top .right_sile-content .slick-prev .far,
.site43_html_col0_batdongsan .sile-content_top .right_sile-content .slick-next .far {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
  font-size: 64px;
}
.site43_html_col0_batdongsan .sile-content_top .right_sile-content .slick-prev:hover .far,
.site43_html_col0_batdongsan .sile-content_top .right_sile-content .slick-next:hover .far {
  color: #009865;
}
.site43_html_col0_batdongsan .sile-content_top .right_sile-content .slick-prev::before,
.site43_html_col0_batdongsan .sile-content_top .right_sile-content .slick-next::before {
  display: none;
}
.site43_html_col0_batdongsan .sile-content_top .right_sile-content .slick-prev {
  left: auto;
  right: 30%;
}
.site43_html_col0_batdongsan .sile-content_top .right_sile-content .slick-next {
  right: 9%;
}
.site43_html_col0_batdongsan .tab_bds {
  margin-top: 80px;
}
.site43_html_col0_batdongsan .tab_bds .nav_title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #70707021;
  padding-bottom: 10.5px;
}
.site43_html_col0_batdongsan .tab_bds .nav_title .continue,
.site43_html_col0_batdongsan .tab_bds .nav_title .back {
  display: none;
  position: relative;
  width: 25px;
  height: 45px;
}
.site43_html_col0_batdongsan .tab_bds .nav_title .continue::before,
.site43_html_col0_batdongsan .tab_bds .nav_title .back::before {
  position: absolute;
  content: "";
  top: 11px;
  width: 16px;
  height: 16px;
  transform: rotateZ(45deg);
}
.site43_html_col0_batdongsan .tab_bds .nav_title .continue::before {
  right: 0;
  border-top: 4px solid #009865;
  border-right: 4px solid #009865;
}
.site43_html_col0_batdongsan .tab_bds .nav_title .back::before {
  left: 0;
  border-left: 4px solid #009865;
  border-bottom: 4px solid #009865;
}
.site43_html_col0_batdongsan .tab_bds .nav_tabs {
  width: 100%;
}
.site43_html_col0_batdongsan .tab_bds .nav_tabs label {
  position: relative;
  text-align: center;
}
.site43_html_col0_batdongsan .tab_bds .nav_tabs label.active::before, .site43_html_col0_batdongsan .tab_bds .nav_tabs label:hover::before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0px;
  width: 100%;
  height: 10px;
  background: #009865 0% 0% no-repeat padding-box;
  animation: showline 0.3s ease;
}
.site43_html_col0_batdongsan .wrapper_tabcontent .tabcontent {
  display: none;
}
.site43_html_col0_batdongsan .wrapper_tabcontent .tabcontent.js-show-tabcontent {
  display: block;
}
.site43_html_col0_batdongsan .bds {
  width: 100%;
}
.site43_html_col0_batdongsan .bds .row-main {
  flex-wrap: wrap;
}
.site43_html_col0_batdongsan .bds .bds-card_item {
  margin-top: 84px;
  max-width: 714px;
  width: 48%;
  height: 516px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  transition: all 0.4s ease;
  border-radius: 25px;
}
.site43_html_col0_batdongsan .bds .bds-card_item::before {
  position: absolute;
  top: 0px;
  left: -77%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
.site43_html_col0_batdongsan .bds .bds-card_item:hover {
  transition: all 0.4s ease;
  transform: translateY(-5px);
  box-shadow: rgba(99, 99, 99, 0.6) 0px 2px 8px 0px;
}
.site43_html_col0_batdongsan .bds .bds-card_item:hover::before {
  -webkit-animation: infinite shine 2s;
  animation: infinite shine 2s;
}
.site43_html_col0_batdongsan .bds .bds-card_item:hover img {
  transform: scale(1.08);
  transition: all 0.4s ease;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.site43_html_col0_batdongsan .bds .bds-card_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s ease;
}
.site43_html_col0_batdongsan .bds .bds-card_item .text_slide {
  position: absolute;
  bottom: 10px;
  left: calc(100% / 2 - 80% / 2);
  max-width: 591px;
  width: 80%;
  height: 118px;
  background: #fff;
  border-radius: 25px;
  padding: 10px 30px;
}
.site43_html_col0_batdongsan .bds .bds-card_item .title-item {
  width: 48%;
}
.site43_html_col0_batdongsan .bds .bds-card_item .btn-gia:hover {
  transition: all 0.4s ease;
}

@media (max-width: 1600px) {
  .site43_html_col0_batdongsan .sile-content_top {
    align-items: center;
  }
  .site43_html_col0_batdongsan .sile-content_top .left_sile-content {
    width: 49%;
  }
  .site43_html_col0_batdongsan .sile-content_top .right_sile-content h3 {
    margin-bottom: 20px;
  }
  .site43_html_col0_batdongsan .sile-content_top .right_sile-content ul li {
    margin-bottom: 6px;
  }
  .site43_html_col0_batdongsan .sile-content_top .right_sile-content .slick-next,
.site43_html_col0_batdongsan .sile-content_top .right_sile-content .slick-prev {
    top: 26px;
  }
  .site43_html_col0_batdongsan .sile-content_top .right_sile-content .slick-next .far,
.site43_html_col0_batdongsan .sile-content_top .right_sile-content .slick-prev .far {
    font-size: 45px;
  }
}
@media (max-width: 1400px) {
  .site43_html_col0_batdongsan .bds .bds-card_item .text_slide {
    left: calc(100% / 2 - 88% / 2);
    width: 88%;
    height: 113px;
  }
}
@media (max-width: 1200px) {
  .site43_html_col0_batdongsan .sile-content_top {
    align-items: center;
    flex-direction: column;
  }
  .site43_html_col0_batdongsan .sile-content_top .left_sile-content {
    width: 100%;
  }
  .site43_html_col0_batdongsan .sile-content_top .right_sile-content {
    width: 100%;
    margin-top: 20px;
  }
  .site43_html_col0_batdongsan .sile-content_top .right_sile-content h3 {
    margin-bottom: 20px;
  }
  .site43_html_col0_batdongsan .sile-content_top .right_sile-content ul li {
    margin-bottom: 6px;
  }
  .site43_html_col0_batdongsan .sile-content_top .right_sile-content .slick-next,
.site43_html_col0_batdongsan .sile-content_top .right_sile-content .slick-prev {
    top: 26px;
  }
  .site43_html_col0_batdongsan .sile-content_top .right_sile-content .slick-next .far,
.site43_html_col0_batdongsan .sile-content_top .right_sile-content .slick-prev .far {
    font-size: 45px;
  }
  .site43_html_col0_batdongsan .bds .bds-card_item .text_slide {
    padding: 10px 15px;
  }
}
@media (max-width: 1000px) {
  .site43_html_col0_batdongsan .tab_bds {
    margin-top: 40px;
  }
  .site43_html_col0_batdongsan .tab_bds .nav_title .continue,
.site43_html_col0_batdongsan .tab_bds .nav_title .back {
    display: block;
  }
  .site43_html_col0_batdongsan .tab_bds .nav_tabs {
    justify-content: center;
  }
  .site43_html_col0_batdongsan .tab_bds .nav_tabs label {
    display: none;
  }
  .site43_html_col0_batdongsan .tab_bds .nav_tabs label.active {
    display: block;
    animation: amonition 0.4s ease;
  }
  .site43_html_col0_batdongsan .bds .bds-card_item {
    height: 383px;
    width: 100%;
  }
  .site43_html_col0_batdongsan .bds .bds-card_item .text_slide {
    padding: 10px 20px;
  }
}
@media (max-width: 414px) {
  .site43_html_col0_batdongsan .tab_bds {
    margin-top: 35px;
  }
  .site43_html_col0_batdongsan .tab_bds .nav_tabs label.active::before, .site43_html_col0_batdongsan .tab_bds .nav_tabs label:hover::before {
    bottom: -12px;
    height: 5px;
  }
  .site43_html_col0_batdongsan .sile-content_top {
    align-items: center;
    flex-direction: column;
  }
  .site43_html_col0_batdongsan .sile-content_top .left_sile-content {
    width: 100%;
  }
  .site43_html_col0_batdongsan .sile-content_top .left_sile-content .text_slide {
    left: calc(100% / 2 - 87% / 2);
    width: 87%;
    height: 100px;
    border-radius: 20px;
    padding: 10px 15px;
  }
  .site43_html_col0_batdongsan .sile-content_top .right_sile-content .slick-next,
.site43_html_col0_batdongsan .sile-content_top .right_sile-content .slick-prev {
    top: 21px;
  }
  .site43_html_col0_batdongsan .sile-content_top .right_sile-content .slick-next .far,
.site43_html_col0_batdongsan .sile-content_top .right_sile-content .slick-prev .far {
    font-size: 45px;
  }
  .site43_html_col0_batdongsan .bds .bds-card_item {
    margin-top: 26px;
  }
  .site43_html_col0_batdongsan .bds .bds-card_item .text_slide {
    padding: 10px 12px;
    left: calc(100% / 2 - 90% / 2);
    width: 90%;
    height: 75px;
    border-radius: 17px;
  }
}
@media (max-width: 375px) {
  .site43_html_col0_batdongsan .bds .sile-content_top .left_sile-content .text_slide {
    height: 75px;
    padding: 10px 10px;
  }
}
@media (max-width: 320px) {
  .site43_html_col0_batdongsan .bds .bds-card_item {
    height: 315px;
  }
}

/*# sourceMappingURL=view.css.map */

/* site43_html_col0_batdongsan */ 

/* site43_foot_col0_BDSPhuCuong */ 
.site43_foot_col0_BDSPhuCuong {
  margin-top: 150px;
  background-color: #fafafa;
  padding: 54px 0px;
}
.site43_foot_col0_BDSPhuCuong .row-main {
  width: 100%;
}
.site43_foot_col0_BDSPhuCuong .title2_5 {
  font-weight: bold;
  color: #565656;
}
.site43_foot_col0_BDSPhuCuong .content2_0 {
  color: #171717;
  font-weight: normal;
}
.site43_foot_col0_BDSPhuCuong .left_footer {
  max-width: 436px;
  width: 100%;
}
.site43_foot_col0_BDSPhuCuong .left_footer .logo_footer {
  width: 161px;
  height: 144px;
}
.site43_foot_col0_BDSPhuCuong .left_footer .logo_footer img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.site43_foot_col0_BDSPhuCuong .left_footer h5 {
  margin-top: 46px;
  margin-bottom: 22px;
}
.site43_foot_col0_BDSPhuCuong .left_footer .form_lienhe {
  max-width: 436px;
  width: 100%;
  height: 78px;
  background: #ffffff;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 12px;
}
.site43_foot_col0_BDSPhuCuong .left_footer .form_lienhe input {
  width: 100%;
  font-size: 24px;
  color: #171717;
  padding-left: 20px;
}
.site43_foot_col0_BDSPhuCuong .left_footer .form_lienhe input::placeholder {
  color: #565656;
}
.site43_foot_col0_BDSPhuCuong .left_footer .form_lienhe input:focus-visible {
  outline: none;
}
.site43_foot_col0_BDSPhuCuong .left_footer .form_lienhe button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #496b33 0% 0% no-repeat padding-box;
}
.site43_foot_col0_BDSPhuCuong .left_footer .form_lienhe button .far {
  color: #fff;
}
.site43_foot_col0_BDSPhuCuong .center_footer {
  max-width: 433px;
  width: 100%;
}
.site43_foot_col0_BDSPhuCuong .center_footer ul {
  height: 291px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.site43_foot_col0_BDSPhuCuong .center_footer ul li:last-child {
  margin-bottom: 0px;
}
.site43_foot_col0_BDSPhuCuong .center_footer ul li h5 {
  margin-bottom: 18px;
}
.site43_foot_col0_BDSPhuCuong .right_footer {
  max-width: 310px;
  width: 100%;
}
.site43_foot_col0_BDSPhuCuong .right_footer ul {
  height: 291px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.site43_foot_col0_BDSPhuCuong .right_footer ul li:last-child {
  margin-bottom: 31px;
}
.site43_foot_col0_BDSPhuCuong .right_footer ul li h5 {
  margin-bottom: 18px;
}
.site43_foot_col0_BDSPhuCuong .footer__icon {
  margin-top: 79px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site43_foot_col0_BDSPhuCuong .footer__icon-mangxahoi {
  display: flex;
  align-items: center;
}
.site43_foot_col0_BDSPhuCuong .footer__icon--btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 1px solid #4e525b;
  margin-right: 10px;
  transition: all 0.4s ease;
  overflow: hidden;
}
.site43_foot_col0_BDSPhuCuong .footer__icon--btn .fab {
  color: #4e525b;
  font-size: 25px;
}
.site43_foot_col0_BDSPhuCuong .footer__icon--btn svg path {
  fill: #4e525b;
}
.site43_foot_col0_BDSPhuCuong .footer__icon--btn:first-child {
  padding-top: 16px;
}
.site43_foot_col0_BDSPhuCuong .footer__icon--btn:nth-child(3) {
  padding-top: 4px;
}
.site43_foot_col0_BDSPhuCuong .footer__icon--btn:hover {
  text-decoration: none;
  transform: translateY(-3px);
  transition: all 0.4s ease;
}
.site43_foot_col0_BDSPhuCuong .footer__icon--btn:hover:first-child {
  border: 1px solid #1887ed;
}
.site43_foot_col0_BDSPhuCuong .footer__icon--btn:hover:first-child .fab {
  color: #1887ed;
}
.site43_foot_col0_BDSPhuCuong .footer__icon--btn:hover:nth-child(2) {
  border: 1px solid #34a853;
}
.site43_foot_col0_BDSPhuCuong .footer__icon--btn:hover:nth-child(2) svg {
  max-width: 100%;
}
.site43_foot_col0_BDSPhuCuong .footer__icon--btn:hover:nth-child(2) svg path {
  fill: #34a853;
}
.site43_foot_col0_BDSPhuCuong .footer__icon--btn:hover:nth-child(3) {
  border: 1px solid #1d9bf0;
}
.site43_foot_col0_BDSPhuCuong .footer__icon--btn:hover:nth-child(3) .fab {
  color: #1d9bf0;
}
.site43_foot_col0_BDSPhuCuong .footer__icon--btn:hover:last-child {
  border: 1px solid #f5a732;
}
.site43_foot_col0_BDSPhuCuong .footer__icon--btn:hover:last-child svg {
  max-width: 100%;
}
.site43_foot_col0_BDSPhuCuong .footer__icon--btn:hover:last-child svg path {
  fill: #f5a732;
}
.site43_foot_col0_BDSPhuCuong .footer__select-ngonngu {
  position: relative;
  display: flex;
  flex-direction: column;
}
.site43_foot_col0_BDSPhuCuong .footer__select-ngonngu > div {
  position: absolute;
  top: -21px;
  right: 0;
  width: 125px;
}
.site43_foot_col0_BDSPhuCuong .footer__select-ngonngu label {
  width: 125px;
  height: 39px;
  background: #FFF;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 42px;
  padding: 5px;
  display: none;
  position: relative;
  order: 2;
}
.site43_foot_col0_BDSPhuCuong .footer__select-ngonngu label span {
  margin-left: 10px;
}
.site43_foot_col0_BDSPhuCuong .footer__select-ngonngu label.active {
  order: 1;
  display: block;
}
.site43_foot_col0_BDSPhuCuong .footer__select-ngonngu label.active::after {
  content: "";
  position: absolute;
  top: 16px;
  right: 15px;
  border: 5px solid;
  border-color: #000 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}
.site43_foot_col0_BDSPhuCuong .footer__select-ngonngu:hover label {
  display: block;
}
.site43_foot_col0_BDSPhuCuong .footer__select-ngonngu:hover label.active {
  order: 1;
}
.site43_foot_col0_BDSPhuCuong .phattrien .content2_0 {
  color: #565656;
}

@media (max-width: 1400px) {
  .site43_foot_col0_BDSPhuCuong .left_footer {
    width: 33%;
  }
  .site43_foot_col0_BDSPhuCuong .center_footer {
    width: 33%;
  }
  .site43_foot_col0_BDSPhuCuong .right_footer {
    width: unset;
  }
}
@media (max-width: 1000px) {
  .site43_foot_col0_BDSPhuCuong .left_footer {
    max-width: 100%;
    width: 100%;
  }
  .site43_foot_col0_BDSPhuCuong .center_footer {
    margin-top: 28px;
    max-width: 100%;
    width: 100%;
  }
  .site43_foot_col0_BDSPhuCuong .center_footer ul {
    height: auto;
  }
  .site43_foot_col0_BDSPhuCuong .center_footer ul li {
    margin-bottom: 26px;
  }
  .site43_foot_col0_BDSPhuCuong .right_footer {
    margin-top: 28px;
    max-width: 100%;
    width: 100%;
  }
  .site43_foot_col0_BDSPhuCuong .right_footer ul {
    height: auto;
  }
  .site43_foot_col0_BDSPhuCuong .right_footer ul li {
    margin-bottom: 26px;
  }
  .site43_foot_col0_BDSPhuCuong .row-main {
    flex-direction: column;
  }
}
@media (max-width: 540px) {
  .site43_foot_col0_BDSPhuCuong .left_footer {
    text-align: center;
  }
  .site43_foot_col0_BDSPhuCuong .left_footer .logo_footer {
    margin: auto;
  }
  .site43_foot_col0_BDSPhuCuong .left_footer .form_lienhe {
    height: 59px;
    padding: 15px 12px;
  }
  .site43_foot_col0_BDSPhuCuong .left_footer .form_lienhe button {
    width: 53px;
    height: 45px;
  }
  .site43_foot_col0_BDSPhuCuong .center_footer {
    margin-top: 20px;
    max-width: 100%;
    width: 100%;
  }
  .site43_foot_col0_BDSPhuCuong .center_footer ul li {
    margin-bottom: 12px;
  }
  .site43_foot_col0_BDSPhuCuong .center_footer ul li h5 {
    margin-bottom: 5px;
  }
  .site43_foot_col0_BDSPhuCuong .right_footer {
    margin-top: 20px;
    max-width: 100%;
    width: 100%;
  }
  .site43_foot_col0_BDSPhuCuong .right_footer ul li {
    margin-bottom: 12px;
  }
  .site43_foot_col0_BDSPhuCuong .right_footer ul li h5 {
    margin-bottom: 5px;
  }
  .site43_foot_col0_BDSPhuCuong .phattrien {
    flex-wrap: wrap;
  }
}
@media (max-width: 320px) {
  .site43_foot_col0_BDSPhuCuong .footer__icon-mangxahoi .footer__icon--btn {
    width: 30px;
    height: 30px;
    padding: 6px;
  }
  .site43_foot_col0_BDSPhuCuong .footer__icon-mangxahoi .footer__icon--btn .fab {
    color: #4e525b;
    font-size: 19px;
  }
  .site43_foot_col0_BDSPhuCuong .footer__icon-mangxahoi .footer__icon--btn:nth-child(3) {
    padding-top: 8px;
  }
}

/*# sourceMappingURL=view.css.map */

/* site43_foot_col0_BDSPhuCuong */ 
